version: '3.8'

services:
  evo-bot:
    build: .
    container_name: evo-bot
    restart: unless-stopped
    ports:
      - "8001:80"
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
