version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: telegram-camera-bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
